body {
  font: normal 16px 'PT Serif', serif;
  color: #000000;
  margin: 0;
  padding: 0;
  line-height: 1.2em;
}

.page-title {
  text-align: center;
}

.page-title h1 {
  font: 34px "Avenir", sans-serif;
  margin-bottom: 0;
  color: #000000;
  margin-top: 100px;
}

a:hover{
  border-bottom: 1px dashed #2B7A78;
}

a{
  color: #2B7A78;
  text-decoration: none;
}

.credit {
  text-align: center;
  padding: 36px 0px;
}

h2 {
  font: 18px "Avenir", sans-serif;
  color:  #2B7A78;
  text-align: center;
  letter-spacing: 4px;
  margin-top: 10px;
}

h3 {
  font: bold 16px "Avenir", sans-serif;
  color:  #000000;
  text-align: left;
  letter-spacing: 2px;
}

.page-title h2 {
  margin-bottom: 30px;
  margin-top: 0;
}

#post-date {
  font: italic 16px 'PT Serif', sans-serif;
  color:  #808080;
  text-align: center;
}

#subtitle {
  font: italic 16px 'PT Serif', serif;
  color: #000000;
  text-align:center;
}

.container .small {
  margin: auto;
  max-width: 600px;
  box-sizing: border-box
}
